*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    width: 100%;
    height: 100vh;
}

section nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    text-align: right;
    right: 0;
    left: 0;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
    
}

section nav .logo img{
    width: 100px;
    
    margin: 7px 0;
}

section nav ul{
    list-style: none;
}

section nav ul li{
    display: inline-block;
    margin: 0 15px;
}

section nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
}

section nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background:green;
    display: block;
    transition: 0.2s linear;
}

section nav ul li a:hover::after{
    width: 100%;
}

section nav ul li a:hover{
    color:green;
}

section nav .icon i{
    font-size: 18px;
    color:green;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

section nav .icon i:hover{
    color: #9BA747;
}

section .principio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 130px;
}

section .principio .texto_inicio h1{
    font-size: 40px;
    position: relative;
    top: -100px;
    left: 100px;
}

section .principio .texto_inicio h1 span{
    margin-left: 15px;
    color: #9BA747;
    font-family: mv boli;
    line-height: 22px;
    font-size: 70px;
}

section .principio .principio_image img{
    width: 730px;
    position: relative;
    left: 70px;
   
    
}

section p{
    width: 650px;
    text-align: justify;
    position: relative;
    left: 123px;
    bottom: 120px;
    line-height: 22px;
}

section .principio_btn{
    background: #F29D4B;
    position: relative;
    left: 110px;
    bottom: 30px;
    width: 150px;
    cursor: pointer;
    padding: 10px 15px;
}

section .principio_btn a{
    color: #fff;
    margin-right: 5px;
    text-decoration: none;
}

section .principio_btn i{
    color: #fff;
    transition: 0.3s;
}

section .principio_btn:hover i{
    transform: translateX(7px);
}



/*Menu*/

.menu{
    width: 100%;
    padding: 90px 0;
}

.menu h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.menu h1 span{
    color: #9BA747;
    margin-left: 10px;
    font-family: mv boli;
}

.menu h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #9BA747;
    display: block;
    position: relative;
    bottom: 15px;
}

.menu .menu_cajita{
    width: 99%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.menu .menu_cajita .menu_tarjeta{
    width: 325px;
    height: 480px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.menu .menu_cajita .menu_tarjeta .menu_image{
    width: 300px;
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
}

.menu .menu_cajita .menu_tarjeta .menu_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.menu .menu_cajita .menu_tarjeta .menu_image:hover img{
    transform: scale(1.1);
}

.menu .menu_cajita .menu_tarjeta .small_card{
    width: 45px;
    height: 45px;
    float: right;
    position: relative;
    top: -240px;
    right: -8px;
    opacity: 0;
    border-radius: 7px;
    transition: 0.3s;
}

.menu .menu_cajita .menu_tarjeta:hover .small_card{
    position: relative;
    top: -240px;
    right: 20px;
    opacity: 1;
}

.menu .menu_cajita .menu_tarjeta .small_card i{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color: #000;
    cursor: pointer;
    text-shadow: 0 0 6px #000;
    transition: 0.2s;
}

.menu .menu_cajita .menu_tarjeta .small_card i:hover{
    color: #9BA747;
}

.menu .menu_cajita .menu_tarjeta .menu_info h2{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: #9BA747;
}

.menu .menu_cajita .menu_tarjeta .menu_info p{
    text-align: center;
    margin-top: 8px;
    line-height: 21px;
}

.menu .menu_cajita .menu_tarjeta .menu_info h3{
    text-align: center;
    margin-top: 10px;
}

.menu .menu_cajita .menu_tarjeta .menu_info .menu_icon{
    color: #9BA747;
    text-align: center;
    margin: 10px 0 10px 0;
}

.menu .menu_cajita .menu_tarjeta .menu_info .menu_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: #000;
    padding: 8px 10px;
    margin: 0 80px;
    transition: 0.3s;
}
/*acerca*/

.acerca{
    width: 90%;
    height: 90vh;
    padding: 70px 0;
}

.acerca .acerca_principio{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.acerca .acerca_principio .image img{
    width: 600px;
    position: relative;
    top: 10px;
}


.acerca .acerca_principio .acerca_textos p{
    margin-right: 100px;
    text-align: center;
    margin-right: 30px;
    line-height: 22px;
    padding-left: 80px;
    
}

.acerca .acerca_btn{
    background: #9BA747;
    padding: 12px 25px;
    text-decoration: none;
    color: #fff;
    position: relative;
    left: 55%;
    bottom: 30px;
}






/*Gallary*/

.gallary{
    width: 100%;
    padding: 70px 0;
}

.gallary h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallary h1 span{
    margin-left: 15px;
    color: #9BA747;
    font-family: mv boli;
}

.gallary h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #9BA747;
    display: block;
    position: relative;
    bottom: 15px;
}

.gallary .gallary_image_box{
    width: 95%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.gallary .gallary_image_box .gallary_image{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

.gallary .gallary_image_box .gallary_image img{
    width: 100%;
    transition: .3s;
}

.gallary .gallary_image_box .gallary_image:hover img{
    opacity: 0.4;
}

.gallary .gallary_image_box .gallary_image h3{
    position: absolute;
    font-size: 35px;
    margin-bottom: 130px;
    color: #9BA747;
    font-family: polo;
    z-index: 5;
    opacity: 0;
    transition: 0.3s;
}

.gallary .gallary_image_box .gallary_image:hover h3{
    opacity: 1;
}

.gallary .gallary_image_box .gallary_image p{
    position: absolute;
    width: 400px;
    margin-top: 30px;
    text-align: center;
    color: white;
    line-height: 22px;
    opacity: 0;
    z-index: 5;
    transition: 0.3s;
}

.gallary .gallary_image_box .gallary_image:hover p{
    opacity: 1;
}

.gallary .gallary_image_box .gallary_image .gallary_btn{
    position: absolute;
    margin-top: 180px;
    color: #000;
    background: #9BA747;
    padding: 7px 25px;
    text-decoration: none;
    opacity: 0;
    transform: translateY(45px);
    z-index: 5;
    transition: 0.3s;
}

.gallary .gallary_image_box .gallary_image:hover .gallary_btn{
    opacity: 1;
    transform: translateY(0);
}

/*Contacto*/

.contacto{
    width: 100%;
    height: 120vh;
    padding: 50px 0;
    background-image: url(image/bg2.jpg);
    background-size: cover;
    background-position: center;
}

.contacto h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 55px;
}

.contacto h1 span{
    color: #9BA747;
    margin-right: 15px;
    font-family: mv boli;
}

.contacto h1 span::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #9BA747;
    display: block;
    position: relative;
    bottom: 15px;
}

.contacto .contacto_principio{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contacto .contacto_principio .contacto_image img{
    width: 600px;
    border-radius: 50;
}

.contacto .contacto_principio form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 10px;
}

.contacto .contacto_principio form .input p{
    line-height: 25px;
}

.contacto .contacto_principio form .input{
    margin: 5px;
}

.contacto .contacto_principio form .input input{
    width: 300px;
    height: 35px;
    padding: 0 10px;
    border: 2px solid #cccccc;
    background: #eeeeee;
    outline: none;
    border-radius: 3px;
}

.contacto .contacto_principio form .input input:focus{
    border: 2px solid #9BA747;
}

.contacto .contacto_principio form .contacto_btn{
    padding: 10px 0;
    background: rgb(236, 137, 137);
    color: white;
    width: 40%;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
}

/*Footer*/

footer{
    width: 100%;
    padding: 30px 0 0 20px;
    background: #eeeeee;
}

footer .footer_principio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

footer .footer_principio .footer_tag{
    text-align: center;
}

footer .footer_principio .footer_tag h2{
    color: #000;
    margin-bottom: 25px;
    font-size: 30px;
}

footer .footer_principio .footer_tag p{
    margin: 10px 0;
}

footer .footer_principio .footer_tag i{
    margin: 0 5px;
    cursor: pointer;
}

footer .footer_principio .footer_tag i:hover{
    color: #9BA747;
}

footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

footer .end span{
    color: #9BA747;
    margin-left: 10px;
}


/*Darriel*/

.Imput{
    margin-right: 50%;
    margin-left: 5px;
    font-size: 20px;
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
    color: #000;
    width: 500px;
    background-color: rgb(255, 255, 255);

}
.mover{
    margin: auto;
}
.buscador{
    margin-top: 5px;
    margin-right: 10%;
    width: 500px;
    border-bottom: solid 1px rgb(14, 7, 7);
    padding: 10px 10px 10px 30px;
    outline: none;
}

.centro{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 100%
}

.letrash3{
    margin-right: 45%;
    padding: 1%;
}

.sect{
    margin-left: 50%;
    margin-right: 50%;
}

.txtarea{
    padding: 8em 10em;
    margin-right: 50%;
}

.contenedor {
    background-color: #474E1B;
    padding-bottom: 7px;
}

.mover{
    margin-left: 52%;
}

.botoncito{
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
    padding: 1em 2em;
    background: #ed724b;
    color: black;
    border-radius: 2em;
    border:none;
    outline: 2px solid rgb(0, 0, 0);
    outline-offset: 3px;
    color: rgb(255, 255, 255);
}

.boton2{
    display: inline-block;
    padding: 1em 2em;
    background: rgb(255, 255, 255);
    color: black;
    border-radius: 2em;
    border:none;
    outline: 2px solid rgb(0, 0, 0);
    outline-offset: 3px;

    margin-top: 8px;
}

.barra{
    background-color: #D9D9D9;
    padding-top: 60px;
}


.contenedor{
    max-width:1550px;
    max-height: 1087px;
    background-color: transparent;
}
